
html{
	font-family: 'Open Sans', sans-serif;
}

body{
	margin:0px;
}

.header{
	text-align: left;
	font-weight: bold;
	padding:10px;
	cursor: pointer;
	background-color: #7ef9ff;
	font-size: 125%;
	letter-spacing: 2px;
	transition: 0.8s;
}

.header:hover{
	background-color: #3fe0d0;
}

.menu{
	padding:20px;
	background-color: #89cff0;
}

.btn{
	border:none;
	text-align: center;
	padding:10px;
	transition:0.4s;
	cursor:pointer;
	border: thin solid black;
}

.fullwin{
	background-color: #4682b4;
	color:white;
}

.fullwin:hover{
	background-color:white;
	color:#4682b4;
}


.inline{
	background-color: #4682b4;
	color: white;
}

.inline:hover{
	background-color: white;
	color:#4682b4;
}

.sized{
	background-color: #4682b4;
	color:white;
}

.sized:hover{
	background-color: white;
	color:#4682b4;
}

.pdf-view{
	text-align: center;
}

#adobe-dc-pdf-view{
	display:inline-block;
}

h2{
	background-color: #89cff0;
	font-weight: bold;
	padding: 20px;
}


.text{
	background-color: #eeeffe;
}

p{
	letter-spacing: 1px;
	padding:15px;
}

